[2018-03-15 22:42] villanuevawill opened #1 "Roadmap Ahead"
These are some of the areas we need to begin to tackle.  Feedback on prioritization and any other discussion is encouraged.

## New Features
- Events API to track diffs/events in the contract.  This could be used as the groundwork for analyzing datapoints such as user behavior, reputation, recommended pricing, spam, etc.
- Reputation metrics
- A better definition of user profiles
- Leaderboards an

[2018-03-16 15:19] mbeylin commented on #1
Building on this more definitely, some way for us to authenticate various oAuth accounts of our users (github, twitter, etc) to let people KYC themselves.

It would also be cool for people to be able to have off-chain profiles, including things like a profile picture and a description of themselves.

- I would also like the ability to comment, off-chain, either on a bounty, or on a particular user

[2018-03-19 19:41] villanuevawill commented on #1
@mbeylin awesome points. the KYC and off-chain profiles sounds solid. I'd ideally like to use someone like uport - but who knows when that will be officially out.  I definitely think brainstorming a profile/image/etc. solution now is the right thing to do.

Any reason why a fulfillment can't have a rating field on it?

Regarding off-chain comments. Would these be publicly viewable or do you think

[2018-03-19 19:42] mbeylin commented on #1
@villanuevawill Fulfillments are created by the fulfiller, and they are the only individuals who are able to update their fulfillments. Since the rating for a submission is created after it is on-chain, it would be impossible for anyone but the fulfiller to change it.

[2018-03-19 19:46] villanuevawill commented on #1
@mbeylin right... in that case the schema wouldn't make sense. We could expose a rating via the api and store it then. As the api is public - I assume we want to keep all of this public?  Also - still curious on private threads? For v1 it would be easiest to keep everything public. thoughts?

[2018-03-19 19:51] mbeylin commented on #1
Agreed on keeping all of this public for now. Private bounties are cool but require a nontrivial increase in complexity to encrypt the bounty data (IPFS hash), and manage the sharing of the key(s) for approved fulfillers.

[2018-03-20 07:03] villanuevawill opened #2 "Analytics Dashboard"
This should be our first bountied issue. @mbeylin let me know if we're missing anything here.

### Basic Details

- All endpoints should accept a start and end-date filter
- Results should return as daily, monthly, or weekly.  Daily is pegged to 00:00 - 23:59 UTC, monthly to calendar months, and weekly to Sunday - Saturday. Current week would always start on Sunday at 0:00 UTC and will be partial

[2018-03-23 00:01] villanuevawill opened #3 "Feature: Analytics Endpoint V1"
This is the first bounty in an upcoming set of bounties focused around building an analytics dashboard for projects that utilize the [standard bounties contract](https://github.com/Bounties-Network/StandardBounties) such as gitcoin, and other upcoming open source sites.

This first task begins the work of exposing endpoints around daily stats for a range of time.  Ultimately, these will be used to

[2018-03-23 00:59] villanuevawill opened #4 "Build Slack Client Managing Slack Notifications"
## Description
Currently, we have a notification channel in slack that lets us know when contract events have occurred.
In its current state, it only sends the following info to the slack channel:

`'Event {} passed for bounty {}'.format(event, str(bounty_id))`
or an example:
`Event BountyFulfilled passed for bounty 162`

We would like to make this slack channel public, and would like to provide m

[2018-03-23 01:30] villanuevawill opened #5 "Token Endpoint"
## Description
We'd like to provide an endpoint that returns all tokens that have been used at least once in a contract. It should also return its associated token data.

We do not want to refactor or change the current structure (address is on the bounty, but pricing token data is a separate model) due to various reasons at this point. Feel free to disagree with that approach, but I've wanted to

[2018-03-23 07:14] zoek1 commented on #4
@villanuevawill i propose use decorators that accept a format like "Bounty Title, ID, fulfillment_id"  and  provides the bounty object to each method in [std_bounties client](https://github.com/Bounties-Network/BountiesAPI/blob/master/bounties_api/std_bounties/client.py). After the method is executed, the notification to slack is sended. In thar  way reduce 1:1 modification relation between slack

[2018-03-23 09:07] ryansdavis commented on #4
@villanuevawill Where do you think is the best directory for 'slack_client.py' to live?

[2018-03-23 14:08] villanuevawill commented on #4
@zoek1 I like the idea overall, however we run into a couple issues with this approach. 1 issue is that in some of these we need the fulfillment details. Another issue is that for issue_bounty, the bounty does not exist yet.  For fulfill_bounty, the fulfillment object does not exist yet either.

The other concern I would have is that I want to keep the functions independent from the client.py func

[2018-03-23 16:56] murduk commented on #5
Hello, I would like to work on this.

[2018-03-23 17:20] villanuevawill commented on #5
@murduk great! Any questions ahead of time, or make sense overall?

[2018-03-23 17:22] villanuevawill commented on #4
@zoek1 and @ryansdavis - Since @zoek1 dibbed this first, if he still wants to move forward on this task, then I would say he would get priority.  If you both want to work together, then that is fine as well, but typically first worker will handle this. @zoek1 let me know if you plan on moving forward on this.

[2018-03-23 18:29] murduk commented on #5
@villanuevawill
Could you please help on this. I couldn't run it locally. I am not very familiar with docker.

npm ERR! Error while executing:
npm ERR! /usr/bin/git ls-remote -h -t git://github.com/frozeman/WebSocket-Node.git
npm ERR!
npm ERR! fatal: Could not read from remote repository.
npm ERR!
npm ERR! Please make sure you have the correct access rights
npm ERR! and the repository exists.
npm

[2018-03-23 18:42] villanuevawill commented on #5
@murduk are you using mac? I'd encourage you to install the actual docker for mac in the link.  Otherwise, if you just run the create volume steps, then `docker-compose up`, you shouldn't have any issues as everything is already containerized. let me know.

[2018-03-23 18:45] murduk commented on #5
@villanuevawill yes I am using a mac. Sorry this might be a very simple question but Could you explain how to "install the actual docker for mac in the link"?

[2018-03-23 18:49] villanuevawill commented on #5
@murduk please follow instructions under Setup in the readme step-by-step.

https://docs.docker.com/docker-for-mac/install/#download-docker-for-mac

[2018-03-23 18:52] murduk commented on #5
@villanuevawill I have already installed macos version of docker. I have installed stable version, should I try the edge one?

[2018-03-23 18:56] villanuevawill commented on #5
You created the volumes, then just ran `docker-compose up`?  If so, can you include a larger stack trace of the error?

[2018-03-23 18:57] murduk commented on #5
Merts-MacBook-Pro:BountiesAPI mertozdag$ docker volume create psql_bounties
^[[Apsql_bounties
Merts-MacBook-Pro:BountiesAPI mertozdag$ docker volume create redis_bounties
redis_bounties
Merts-MacBook-Pro:BountiesAPI mertozdag$ docker-compose up
Building contract_subscriber
Step 1/10 : FROM mhart/alpine-node:9.6.1
 ---> 31b702b5bee0
Step 2/10 : ARG auto_build="true"
 ---> Using cache
 ---> 54fe275c

[2018-03-23 19:06] villanuevawill commented on #5
`/usr/bin/git ls-remote -h -t git://github.com/frozeman/WebSocket-Node.git` Can you run that locally on your command line? What happens?

[2018-03-23 19:09] murduk commented on #5
Operation timeout, probably firewall issue. I will try on a different network.

[2018-03-23 19:15] murduk commented on #5
Works great now :) Thank you

[2018-03-24 06:00] zoek1 commented on #4
Of course @villanuevawill, i'm working on this right now! I hope make the pull request tomorrow.

[2018-03-24 06:06] villanuevawill commented on #4
also @zoek1 - where in Mexico do you live? I'm in Mexico City for the next 2 weeks.

[2018-03-24 21:40] leonprou commented on #3
Hey I like this feature,
I started working in a draft, can you check that I understood the solution correctly? Mostly the `models.py` file. My fork:
https://github.com/leonprou/BountiesAPI/tree/analytics_endpoint

[2018-03-24 21:47] zoek1 commented on #4
@villanuevawill i was thinking about your concerns, and can it easily achieved in a "monadic" way.

1. The first step is refactor the retrieving object  (getting the Bounty or Fulfillment object):
    1.1 If the object is required to exist, we use the operation `>>` that pass the object retrieved in case to exists or terminates the execution.
    1.2 If is required that the object doesn't exists,

[2018-03-24 22:38] villanuevawill commented on #3
@leonprou just looked through it - looks like the right direction. publish_date might be clearer as just date or stats_date, etc... but yeah direction looks right.

[2018-03-24 22:45] villanuevawill commented on #4
@zoek1 I like the proposal. Go for it. Only thing is it would be cool if each of the operations gets abstracted to a parent client that does this. That way the code is clean and just has one call in each event if statement.  👍 go for it.

Also, send me a dm on the gitcoin community - bountiesWill since you're in town!

[2018-03-25 16:55] leonprou commented on #3
@villanuevawill cool , thanks for quick response 👍
 I've thought a little about the job. I have a question about it, when I create a statistics for some day, is this statistics object is immutable?  Can some event happen that will require recalculate the statistics for that day? For example if some bounty changes its stage, the "Number of bounties in each bountyStage" needs to recalculated.

[2018-03-25 23:05] villanuevawill commented on #3
@leonprou good q. It should be immutable since it is based on the immutable record stored on the blockchain for the contract.  Of course, the current day will be mutable, but as described in the task, this can't be pre-calculated for clear reasons.

[2018-03-25 23:05] villanuevawill commented on #3
All records in psql are just mirrors of what is in the blockchain.  We're not storing anything unique on our end.

[2018-03-26 05:50] villanuevawill opened #7 "Manage Internal Transactions"
Currently, we run into a few issues:

1. Our current architecture does not pass enough information on events. As a result, we have to pull the transaction to find the original inputs: https://github.com/Bounties-Network/BountiesAPI/blob/master/contract_subscriber/eventsRetriever.js#L37-L42 . This approach **will not** work with wrappers around the std bounties contract.  This is because a wrapper

[2018-03-26 06:12] villanuevawill opened #8 "Std. Bounties V2 Architecture"
Opening a thread to begin discussing, researching major changes we will need to implement for Std. Bounties V2.

The new proxy architecture - which is awesome 💯- https://github.com/Bounties-Network/StandardBounties/blob/develop/contracts/inherited/Proxy.sol is going to require some major changes. For example, each bounty will create a proxy contract with its own address.

- We will need to build a

[2018-03-26 15:27] ryansdavis commented on #4
@villanuevawill @zoek1 Sounds like ya'll got a handle on this :+1: :+1:

[2018-03-26 19:08] vs77bb commented on #3
Hi @leonprou mind claiming this one on Gitcoin here to show you've started work? https://gitcoin.co/issue/Bounties-Network/BountiesAPI/3

Hope you both are off to a good start this week!

[2018-03-26 21:43] leonprou commented on #3
@villanuevawill I'm not sure I get this. Not sure about psql, but looking at the contract - https://github.com/Bounties-Network/StandardBounties/blob/master/contracts/StandardBounties.sol,  I see a lot of methods that mutate the bounty. I'll try to catch you on slack tomorrow.

@vs77bb done 👍

[2018-03-27 00:48] villanuevawill commented on #3
@leonprou - I may have misunderstood your question.  By immutable, I meant the historical record for the stats will not change. There is a creation date on all of them which is grabbed from the contract. https://github.com/Bounties-Network/BountiesAPI/blob/master/bounties_api/std_bounties/models.py#L49

All the values you need will be in psql - except for acceptance date. However, we'd need to add

[2018-03-30 19:52] villanuevawill opened #9 "OverflowError: Python int too large to convert to C ssize_t"
## Description
Advanced issue.  Solidity and python experience required.

Here is the current stack trace for the error:

[code]

It points to this line of code: https://github.com/ethereum/eth-abi/blob/master/eth_abi/decoding.py#L118 in the eth_abi decoding for web3

This error is triggered by the symbol() call for the human standard token: https://github.com/Bounties-Network/BountiesAPI/blob/mas

[2018-04-02 12:51] zheli commented on #9
Just want to get some more information. Which Python version were you using? Also is it possible to print out the return_data there?

[code]

[2018-04-02 13:41] zheli commented on #9
Never mind. Now I got the error :)

[2018-04-02 13:54] zheli commented on #9
As far as I can see, the DAI symbol is a `byte32` type (https://etherscan.io/address/0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359#readContract) but it is defined as `string` type in HumanStandardToken ABI, therefore it uses the wrong decoder. Locally I can get the same error from EOS smartcontract (0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0).

[2018-04-02 14:10] zheli commented on #9
Although from decoding.py in eth_abi, it is the same decoder when bytes base is not specified:

`decode_string = decode_bytes = StringDecoder.as_decoder()`

Weird.

[2018-04-02 15:13] zheli commented on #9
Tested similar code in web3.js and I also got exception on DAI contract.

[2018-04-02 16:12] villanuevawill commented on #5
@murduk I'll do another round of review on this today. Sorry for the delay.

[2018-04-02 18:29] zheli commented on #9
Added DSToken abi in contract.py. Symbol can only be string or bytes so this should be sufficient.

[2018-04-03 00:17] villanuevawill commented on #5
@murduk in order to reward you, can you first put work submitted on gitcoin?

[2018-04-03 00:18] villanuevawill commented on #9
Fixed and closing. Thanks @zheli!

[2018-04-03 00:18] #9 closed

[2018-04-03 00:56] vs77bb commented on #9
@villanuevawill You should be able to pay out using 'Accept Submission' functionality on Gitcoin. Great work, @zheli!

[2018-04-03 02:22] murduk commented on #5
@villanuevawill Thank you :) I submitted the work

[2018-04-03 06:01] zheli commented on #9
Thx @villanuevawill @vs77bb !

[2018-04-03 06:18] villanuevawill opened #11 "Refactor to use an event storage model"
# Description
The current system sends events directly via sqs, and then the std_bounties client responds directly to the messaged events.

As we want to include more realtime systems in response (ie. stats and more to come), we are running into the issue of how we accomplish it without resyncing everything to the blockchain and passing through the events via sqs. In addition, we want to store the

[2018-04-03 06:20] villanuevawill commented on #11
This task has been claimed by @leonprou

[2018-04-03 23:12] zoek1 commented on #4
@villanuevawill all events are processed correctly in this PR #12. I just need to clean the code and write pending tests. Can you give me feedback about the PR, please?

[2018-04-04 03:54] zoek1 commented on #11
@villanuevawill is this still open to work? I would like the the idea to implement event storage!

[2018-04-04 07:58] leonprou commented on #11
@zoek1 hey, I've been discussing this task for about a week with @villanuevawill, and worked on the definitions kind of together. So for now I want to start on with it. I'll keep my progress updated here to keep you and others in sync.

[2018-04-04 15:06] #5 closed

[2018-04-05 15:25] villanuevawill commented on #11
@zoek1 - I will definitely be putting up more bounties here shortly - I'll let you know ahead of time! Cheers.

[2018-04-07 18:57] leonprou commented on #11
Hey, I have a [WIP PR](https://github.com/Bounties-Network/BountiesAPI/pull/15) for this

[2018-04-07 22:49] vs77bb commented on #3
@leonprou @villanuevawill Poking in... you guys still working on this? Let me know if you need me to pub this out 🙂

[2018-04-08 18:39] leonprou commented on #3
@vs77bb hey, for now I'm not working on this. Me and @villanuevawill have been discussing this for about a week, and have come to conclusion that some refactoring is needed before proceeding. So now I'm working on this task - https://github.com/Bounties-Network/BountiesAPI/issues/11 to store the events in the db, then I was thinking to work on some sort of event sourcing.. You're invited to join,

[2018-04-08 23:33] vs77bb commented on #3
@leonprou No worries, that sounds good 👍 was just checking in from Gitcoin! Good luck with #11 in the meantime.

[2018-04-09 15:45] villanuevawill commented on #3
@vs77bb actually, this should not be worked on until some of the work @leonprou does is done.  Ideally would like to put this on pause for a bit...

[2018-04-19 05:34] villanuevawill opened #21 "Feature: Analytics Endpoint"
This is the first bounty in an upcoming set of bounties focused around building an analytics dashboard for projects that utilize the [standard bounties contract](https://github.com/Bounties-Network/StandardBounties) such as gitcoin, and other upcoming open source sites.

This first task begins the work of exposing endpoints around daily stats for a range of time.  Ultimately, these will be used to

[2018-04-19 05:35] #3 closed

[2018-04-19 05:35] #11 closed

[2018-04-19 05:36] villanuevawill commented on #4
Great work here.

[2018-04-19 05:36] #4 closed

[2018-04-19 05:39] villanuevawill opened #22 "Set up Code Coverage configuration"
# Requirements
- Code coverage should be properly configured to cover both the node.js files and the django application.
- Code coverage should be configured properly to run on all required files (management jobs, helpers, etc.)

As an example, code coverage is already setup within the django application. However, the configuration needs to be fixed as it is not covering the right files. To run it

[2018-04-19 06:03] villanuevawill opened #23 "Bounty API React/Redux Dashboard"
Example endpoint to mock should return the following:

https://api.bounties.network/analytics/stats?publish_date__range=2016-01-01,2016-01-04

Please stay in touch with the person also working on this task: https://github.com/Bounties-Network/BountiesAPI/issues/21

[code]

The endpoint should also return the above stats as full aggregates (representing the aggregate of the entire date range), and

[2018-04-19 06:04] #2 closed

[2018-04-19 17:11] zoek1 commented on #21
@villanuevawill i think that the query could be better using "publish_date_since" or 'since' and  'publish_date_until' or 'until' . Also the 'until' query parameter could be have a default value with the current date.

`https://api.bounties.network/analytics/stats?since=2016-01-01&until=2016-01-04`

what do you think?

[2018-04-19 17:55] yashagarwal1411 commented on #21
Hey @villanuevawill I have started work on this. Currently setting up my system. I plan to wrap this up in next 3-4 days.

[2018-04-19 18:00] zoek1 commented on #21
@yashagarwal1411 i've started work on this task in the last couple hours and @villanuevawill comunicated with me to work on this. If you wish we could work collaborately or you develop this separately. :smile:

[2018-04-19 18:09] yashagarwal1411 commented on #21
Oh sorry. Didn't knew this. If you have already started I guess I can back out and you can take it up?

[2018-04-19 18:41] zoek1 commented on #22
@villanuevawill are you planing integrate the tests with travis or another services?

[2018-04-19 18:48] zoek1 commented on #22
Also i supposed that the problem with not covering the right files is caused by the following error?

[code]

[2018-04-19 20:40] garyaka commented on #21
I was getting ready to work on it too ;-)

[2018-04-20 02:50] zoek1 commented on #21
@villanuevawill i was thinking about a more optimal solution, instead of running jobs consulting the db by batchs. The propose solution is send a message to the queue and consume from there, like the implemented in the slack notification api. :thinking:

[2018-04-20 03:01] villanuevawill commented on #22
@zoek1 - yep, I do plan on adding circle soon.

[2018-04-20 03:03] villanuevawill commented on #22
@zoek1 I did not get that error... hmmm I just run it with the command above...
Did you rebuild?

[2018-04-20 03:03] villanuevawill commented on #21
@zoek1 agree with you here on the default and publish_date_since

[2018-04-20 03:05] villanuevawill commented on #21
@zoek1 I would definitely stay away from that approach. It will be a lot more work, it would add a lot of scope, it makes it more difficult to develop on (update the data if needed since it has to go through the full resync process every time you need to change it), it requires us to already separate out each of the clients, there are a lot more issues as well/infrastructure that would be needed t

[2018-04-21 22:01] zoek1 commented on #22
@villanuevawill yep, i switched to codecov branch and executed the command:

```$ docker-compose exec bounties_api python manage.py test --with-coverage```

[2018-04-22 07:40] zoek1 commented on #22
@villanuevawill can you review the PR #25

[2018-04-22 15:58] villanuevawill commented on #22
@zoek1 istanbul is great!

[2018-04-22 18:56] villanuevawill commented on #23
@bakaoh If so, can you also message me on Slack so we can open a line of communication?

[2018-04-26 02:54] #22 closed

[2018-04-26 19:25] villanuevawill commented on #21
@zoek1 can you put up an initial PR or discuss progress Q's please?

[2018-04-27 23:25] zoek1 commented on #21
@villanuevawill the WIP PR is at  #33

[2018-04-28 13:00] vs77bb commented on #21
Hi @garyaka @yashagarwal1411 @villanuevawill Sorry for Gitcoin Bot being a bit overzealous here... we're working on shaping it up a bit here at Gitcoin 🙂 cc @owocki

[2018-05-04 20:58] villanuevawill opened #39 "Slack Client Refactor"
We need to decouple the slack client from the bounty client.  I'd like the master client to look like this:

[code]
(That's of course just one example).

In this case, I removed the event field and just pass the bounty through. This makes it cleaner, and now we can add an email client or notificer client after this in the master client.  Eventually, these will be all long-running jobs as well.

Ad

[2018-05-05 00:29] villanuevawill commented on #39
@zoek1 example of template strings are here - https://github.com/Bounties-Network/BountiesAPI/pull/38/files#diff-52d6912fed7e480a3ff1cd7830c1a809R1

[2018-05-05 10:41] zoek1 commented on #39
@villanuevawill for some reason gitcoin doesn't allow me start the work. The template string would be selected based on the current   client or will be generic. I was thinking we could use one implementation similar to translate string, to get advantage of the capabilites to display beatiful and meaningful messages 🤔

[2018-05-05 15:47] arun1595 commented on #39
@villanuevawill I found this issue on [Gitcoin](https://gitcoin.io) and was interested in working on the task, so I started work from Gitcoin.

I missed your comment on the assignment to @zoek1

I guess it is because I started the work?

I'll stop the work on Gitcoin so you can work on it @zoek1

I'll watch out for other issues :smile:

Apology for the confusion!

[2018-05-05 19:59] villanuevawill commented on #39
@zoek1 what is the translate string? tell me more.
For now, keeping it simple is good... but curious to hear what you're talking about.

[2018-05-05 19:59] villanuevawill commented on #39
@arun1595 thanks for hopping on. We'll have more work coming... :D

[2018-05-15 16:18] vs77bb commented on #39
Hi @zoek1 any update here? Hope all is well!

[2018-05-15 17:06] villanuevawill commented on #39
@vs77bb I will send this back to the crowd tonight.  I'll go ahead and handle this and remove @zoek1 as the active worker on it.

[2018-05-15 17:11] arun1595 commented on #39
@villanuevawill I would like to tackle it!

[2018-05-20 19:54] c-o-l-o-r opened #41 "Contract Subscriber Tries to Process Same Block"
If no new events occur between iterations of the contract subscriber loop, it will process the same block over and over again.

https://github.com/Bounties-Network/BountiesAPI/blob/fa400252c54b7a6dcf6b2d92be63f1156b558f85/contract_subscriber/index.js#L15-L21

I think that `eventBlock` should be incremented by 1 before updating the `currentBlock` in the Redis cache. This is a minor issue since `mes

[2018-05-21 12:09] villanuevawill commented on #41
@c-o-l-o-r thanks for this, def a good optimization.  My initial concern was there would be multiple transactions within a block - so could intro some failure states... but this shouldn't be an issue.

[2018-05-23 00:30] #39 closed

[2018-05-23 00:30] #23 closed

[2018-05-23 00:30] #21 closed

[2018-05-24 21:27] villanuevawill opened #44 "Increase Code Coverage by 5%"
Simple. Codecov - bring the % up by 5. :D

[2018-05-25 00:28] prashantpawar commented on #44
Uhm, increasing code coverage is not that difficult as there are many cheats available for it, I would recommend defining this task more clearly.

[2018-05-25 00:35] jvmaia commented on #44
Hi, I'm interested in this issue. Can you explain this task more clearly as the @prashantpawar says, this task includes remove unused functions?

[2018-05-25 12:04] villanuevawill opened #45 "Analytics Endpoint Updates"
Currently the analytics endpoint aggregates everything by day.  We'd like to also have an aggregation by week option.

# Requirements
- Include a query param that returns the data in weekly increments vs. daily increments
- Week is broken up into UTC calendar week up through Saturday 11:59:59
- Propose how this will be stored. Do we extend the current [table](https://github.com/Bounties-Network/Bo

[2018-05-25 15:33] pgrzesik commented on #44
Hey there, are you guys interested in more people working on this tasks so we can get code coverage even higher ? :)

[2018-05-25 15:36] pgrzesik commented on #45
Hello there,

does it also include adjusting/writing additional command for generating weekly timeline ?

[2018-05-25 16:23] villanuevawill commented on #44
@prashantpawar @jvmaia @pgrzesik
If you coordinate and don't duplicate work, 100000% interested in multiple contributions to write more tests, and I'd pay out each person the amount (ie. total 15% gain).

Lets follow the same criteria gitcoin has:

Criteria:

- You must increase the code coverage (as measured by codecov) of this repo by 4%.
- You must put (show) some thought into success / failure

[2018-05-25 16:24] villanuevawill commented on #45
@pgrzesik would love to hear justification. Ideally, I'd like it all to be managed in the same script.

[2018-05-25 16:36] villanuevawill commented on #44
Removing unused functions or other cheats do not count. This should be related to meaningful work and tests.

[2018-05-26 08:34] weberV commented on #3
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.33 ETH (228.39 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/Bounties-Network/BountiesAPI/3/178).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitco

[2018-05-26 08:34] weberV commented on #4
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.17 ETH (117.66 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/Bounties-Network/BountiesAPI/4/179).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <

[2018-05-26 08:34] weberV commented on #5
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/Bounties-Network/BountiesAPI/5/180).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a

[2018-05-26 08:34] weberV commented on #9
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.12 ETH (83.05 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/Bounties-Network/BountiesAPI/9/200).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a

[2018-05-26 08:34] weberV commented on #11
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.301 ETH (208.32 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/Bounties-Network/BountiesAPI/11/204).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://git

[2018-05-26 08:36] weberV commented on #21
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.34 ETH (235.32 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/Bounties-Network/BountiesAPI/21/273).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the

[2018-05-26 08:36] weberV commented on #23
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.5 ETH (346.05 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/Bounties-Network/BountiesAPI/23/274).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <

[2018-05-26 08:36] weberV commented on #22
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.08 ETH (55.37 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/Bounties-Network/BountiesAPI/22/275).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <

[2018-05-26 08:39] weberV commented on #39
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/Bounties-Network/BountiesAPI/39/370).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitc

[2018-05-26 13:44] pfilippi24 commented on #44
Splitting and coordinating sounds good.
I already started at the top. So, if it is fine with you, I'll start writing tests in the folders 'analytics' and 'authentication'

[2018-05-26 16:33] villanuevawill commented on #44
@pfilippi24 sounds great and thanks!

[2018-05-26 16:52] pfilippi24 commented on #44
@villanuevawill I think I can get the 5% by thoroughly testing the timeline_generator
Is that fine with you?

[2018-05-26 17:35] villanuevawill commented on #44
@pfilippi24 👍

[2018-05-26 17:55] pfilippi24 commented on #44
@villanuevawill
Added PR https://github.com/Bounties-Network/BountiesAPI/pull/46
Can you have a look and see if this is going in the right direction?
Technically it is already a 5% increase, but you are the one to judge :)

[2018-05-26 18:06] pfilippi24 commented on #45
@villanuevawill As far as I understand the generate_timeline function you already have the ability to calculate weekly timeframes by adjusting the time_frame argument (and renaming some variables for clarity)
I could take this on with a rather quick turnaround, got some more spare time on the weekend

[2018-05-26 19:34] villanuevawill commented on #45
@pfilippi24 as no one has actually claimed the work or started on this as far as I can see - if you can tackle it this weekend then go for it. If you are not able to complete it past the weekend and won't have time in the next week to actively finish this, then I'd recommend against taking it.

[2018-05-26 19:38] villanuevawill commented on #45
Also, whoever works on this task, please work in tandem with this PR https://github.com/Bounties-Network/BountiesAPI/pull/46

[2018-05-26 20:53] pfilippi24 commented on #45
@villanuevawill
So, the promised questions:

1. The weeks should be fixed? i.e. Sunday 00:00:00 to Saturday 11:59:59pm
2. We can reuse the existing table, I would just add an indicator, that a record denotes a week, the date would be the first day of that week. Ok?
3. When entering since and until in the week query: should only be weeks included, that are fully within the defined range or weeks th

[2018-05-26 21:02] pfilippi24 commented on #45
@villanuevawill
Another question: Why Sunday to Saturday?
Thanks to arrow Monday to Sunday would be easier...

[2018-05-26 23:13] pfilippi24 commented on #45
related pr: https://github.com/Bounties-Network/BountiesAPI/pull/47

[2018-05-27 19:53] pgrzesik commented on #44
@pfilippi24 Sounds great, I'm planning to start working on it tomorrow and I'll right away post on which parts of the project I'm working so we won't have overlapping PRs

[2018-05-28 20:39] pgrzesik commented on #44
As I mentioned on Gitcoin, I'll write tests for `std_bounties`, currently started work on `bounty_client` and `client_helpers` - is that OK with you, @villanuevawill ?

[2018-05-29 11:51] #45 closed

[2018-05-29 11:52] villanuevawill commented on #44
@pgrzesik that is great!

[2018-05-29 13:05] villanuevawill opened #49 "Include Categories in Analytics Endpoint"
We want to show the most used categories in our [beta analytics dashboard](https://analytics.bounties.network)

There is a bit of base work that needs to be done to first tackle this.

# Requirements
- Currently the [timeline generator](https://github.com/Bounties-Network/BountiesAPI/blob/master/bounties_api/analytics/management/commands/timeline_generator.py) aggregates the stats by schema. We ne

[2018-05-29 13:17] villanuevawill opened #50 "Fulfillment/Bounty Stats Analytics Endpoint"
We want to show the cumulative number of unique bounty issuers and cumulative bounty fulfillers over time.  You can view the current [beta analytics dashboard](https://analytics.bounties.network). This task only requires updating the API. A separate task will be created around the frontend.

# Requirements
- The endpoint should return cumulative numbers on unique issuer addresses and fulfiller add

[2018-05-30 12:29] nemaniarjun commented on #44
I am also interested in helping do this!
But I will wait till the other developers are done with their PRs before starting, as I dont want the work to clash. :)

[2018-06-01 17:31] pgrzesik commented on #44
@gitcoinbot Yes, I'm in the middle of it and I should have a finished PR ready for review later today. Sorry for a bit of a delay on my part.

Regards,
Piotr

[2018-06-01 23:15] pgrzesik commented on #44
@villanuevawill I added some tests that are available in following PR: https://github.com/Bounties-Network/BountiesAPI/pull/56, I would appreciate any reviews/feedback.

[2018-06-07 15:29] nessimjerbi opened #62 "Content spoofing in the api sub."
So this is my report:
i find a text injection can be used in phishing 404 page should not include attacker text !
Description :
This report is about how an attacker is able to spoof the content of 404 page and can add thr own Text in way that the Current Website is moved to someone new URL which is Attackers website , yet its not that much effective to make this attacker successful but still this

[2018-06-08 09:33] villanuevawill commented on #62
@nessimjerbi this is an api accessed via curl, etc.

We're aware there isn't a predefined 404 behavior.

[2018-07-16 05:21] c-o-l-o-r opened #78 "Response expects an object, but gets a string"
https://github.com/Bounties-Network/BountiesAPI/blob/b7f756dd313dc2f3875e39c2fac10384a9ff9291/bounties_api/analytics/views.py#L43

We should drop the `json.dumps`, otherwise it looks like this:

<img width="698" alt="screen shot 2018-07-16 at 12 21 16 am" src="https://user-images.githubusercontent.com/14004106/42743947-2f41aaf2-888e-11e8-8a47-c84c23614631.png">

[2018-07-17 18:50] #78 closed

[2018-10-10 23:23] villanuevawill opened #220 "Increase the codecov by 5%"
# Requirements

- You must increase the code coverage (as measured by codecov) of this repo by 5%.
- You must put (show) some thought into success / failure criteria for each method tested.
- Please coordinate with other bounty hunters who are working on this bounty so you don't overlap work (we will do multiple payouts)
- No tests on the analytics subapp

# Communication
- [Join our slack communi

[2018-10-10 23:28] villanuevawill opened #222 "Update Swagger to Match Endpoints"
# Requirements
- Update the [swagger schema](https://github.com/Bounties-Network/BountiesAPI/blob/master/bounties_api/static/apischema.yaml) to be in line with our current api

# Communication
- [Join our slack community](https://join.slack.com/t/bountiesnetwork/shared_invite/enQtMzA2Mjk3MzAzODQwLTZjN2UxMmU5MWYxZTVmMmM4OGNjZDRiMDgwYTVhOTIwYmQ4MjVlMjNkZjYzOTE4MWI4OTFhOWE4ZTUzN2MyNWY) and message in

[2018-10-10 23:29] #62 closed

[2018-10-11 00:00] villanuevawill opened #223 "ENS Hourly Script and Minor Frontend Updates"
This is an advanced task and we are only accepting candidates who have time, resources, and bandwidth to put significant time into this.

We want to take our first step into integrating ENS int our app, but we want to start off with it at just a functional level.

We would like a daily script that does a reverse lookup of all our current users with their address to see if they own any root ENS dom

[2018-10-11 12:05] Destiner commented on #220
Hi there. I'm thinking about writing tests for `notifications`.

[2018-10-11 16:28] villanuevawill commented on #222
@sameer2800 I accidentally started then stopped work.

Since you were here first - I just want to ask... What is your experience with django and docker? Important in deciding who gets approved on tackling this task.

[2018-10-11 16:29] villanuevawill commented on #222
Also do you have bandwidth and time to turn this around quickly?

[2018-10-11 16:37] sameer2800 commented on #222
@villanuevawill , I have little experience with django and docker. so i may take 2 to 3 days to finish it up. If you are in hurry, you can assign it to @iamonuwa.

[2018-10-11 16:38] villanuevawill commented on #220
@Destiner that would be great. Approved.

[2018-10-11 16:38] villanuevawill commented on #220
Can you elaborate on the plan a little more and what you want to test?

[2018-10-11 16:40] villanuevawill commented on #223
@subramanianv approved.

[2018-10-11 16:40] villanuevawill commented on #223
Please join the community and ask Q's post plan/proposal there.

[2018-10-11 16:51] villanuevawill commented on #222
Thanks @sameer2800 going to assign to @iamonuwa :)

[2018-10-11 17:09] villanuevawill commented on #223
@subramanianv - ping me in the community since there is one thing to take into account on setup that we need to update in our docs/haven't updated yet.

[2018-10-11 17:09] villanuevawill commented on #220
@Destiner  - ping me in the community since there is one thing to take into account on setup that we need to update in our docs/haven't updated yet.

[2018-10-14 14:41] Destiner commented on #220
Quick update. Started to work on tests and upped coverage by a few percents. Gonna send PR on Monday.

[2018-10-15 14:56] iamonuwa commented on #222
@gitcoinbot work is in progress. Will be submitting soon.

[2018-10-15 14:56] iamonuwa commented on #222
@gitcoinbot work is in progress. Will be submitting soon.

[2018-10-16 16:11] Destiner commented on #220
I decided to focus on tests for `bounty_client.py`, as I didn't find good methods in `notifications` to unit test. Hopefully it's okay :)

[2018-10-19 22:37] Destiner opened #238 "Add missing is_valid call"
Hi there. When I was working on adding tests, I stumbled upon `update_fulfillment` method. When I tried to call it from test code, it failed.

I think the reason of failing is that it should call `is_valid` before saving the object to DB, similar to the `fulfill_bounty` method just above.

Here's the method: https://github.com/Bounties-Network/BountiesAPI/blob/master/bounties_api/std_bounties/boun

[2018-10-21 05:03] #220 closed

[2018-10-21 19:58] rishabhkumar296 commented on #44
Hi, I am interested in working on this issue. Wish to know if someone else is working on it to avoid working on the overlapping parts.

[2018-10-24 14:30] PixelantDesign commented on #223
Hello @villanuevawill, please review @subramanianv work submission ^ !

[2018-10-24 14:41] villanuevawill commented on #223
Thanks @PixelantDesign I submitted the transactino yesterday but things were backed up. I submitted again with higher gas price.

[2018-12-10 11:44] c-o-l-o-r opened #251 "Thoughts from building the SDK to inform future development"
I want to leave some thoughts I've had while building the SDK that may help to inform the development of the next iteration of the API.

- Does it make sense to prescribe one notification to be `push` and another to be `activity`? As an open protocol I'd argue that they are all `notification` and it should be up to developers building on our platform to make that distinction in their frontend by c

[2018-12-10 19:39] c-o-l-o-r opened #252 "Should 404 when user is not found"
When request a user address that doesn't exist, I think it would make sense for the api to return a `404` code along with normal response rather than a `200`.

[code]

[2018-12-11 02:54] c-o-l-o-r commented on #251
After talking with @villanuevawill, we think it makes sense to keep the current comments endpoints and just add a general read-only endpoint to query a user's comments.

[2019-06-12 05:30] #223 closed

[2019-10-31 01:06] edsonayllon opened #300 "Bounty created by direct Smart Contract interaction not showing in API"
New bounty was created in Rinkeby: https://rinkeby.etherscan.io/address/0x38f1886081759f7d352c28984908d04e8d2205a6

When querying for bounties with the issuer specified in the successful `issueAndContribute` call, no bounties were found. This was queried using the Rinkeby API for Standard Bounties, http://rinkeby.api.bounties.network/.

[2019-10-31 03:05] mbeylin commented on #300
Hey Edison, I have a few questions:

- could you link to the transaction which was used to create the bounty?
- when posting the bounty, did you supply a correct IPFS hash?
- If so, did the corresponding JSON object comply with our schema?
- If so, which IPFS endpoint did you use when uploading the JSON object?

[2019-10-31 05:37] edsonayllon commented on #300
2 Transactions:
- https://rinkeby.etherscan.io/tx/0x990146a87f43bd0f01ca4ef2f071b36fe3bd4b98e0482eae04b393e2af5a6dbf
- https://rinkeby.etherscan.io/tx/0x1b2424ee5a194300eeda6b33bd439b492f7a62fc4a42d30d24aa8c048ba702a7

IPFS Hash: https://ipfs.globalupload.io/QmSMFK3ckAWmh5kRRfZ5ZJDfP8zYHUeLWwhsPKxbAx5Tqn

I guess, it wasn't JSON, nor did it use the schema, that's probably the issue.

[2019-10-31 18:52] mbeylin commented on #300
Yeah that makes sense. It appears our IPFS node thankfully did indeed have this file, so complying with the schema would have ensured this bounty would have been successfully added. Best of luck, I'll mark this issue as resolved.

[2019-10-31 22:12] edsonayllon commented on #300
So, I tested with a new IPFS Upload: https://ipfs.io/ipfs/QmNsu3fZ9sS9SZhUrSxxHwGpgvohstKe7wyTfzYvcQJzzZ. Still not showing in the API. I uploaded it as JSON. Is something wrong with the format?

Transaction: 0x3989401d333653d743235fdd9310a2ff8e7093ebef2ee6fcd6cd957d9b51838c

[2019-11-01 20:52] mbeylin commented on #300
Edison,

My sincerest apologies, it seems our StandardBounties docs were not up to date with the latest schema version we use:
[code]

[2019-11-05 00:20] edsonayllon commented on #300
I still don't see the bounty.

- Transaction: https://rinkeby.etherscan.io/tx/0x9eefb335d12e09f700c91d6a6788a69bc9a7b6474da72ac24fdb5ef096dc4039
- IPFS Hash: https://ipfs.globalupload.io/QmXsQLCQESh2SwdNQgWbeurruF5nSkL7Q6b8hthMjkEJf2
- API Call: https://rinkeby.api.bounties.network/bounty/?issuer=0xBBAac64b4E4499aa40DB238FaA8Ac00BAc50811B

Also, https://rinkeby.api.bounties.network makes calls to

[2019-11-05 00:23] edsonayllon commented on #300
Actually, it does find the bounty by platform. Is there any way for the bounty to be queried by issuer with the new Schema? https://rinkeby.api.bounties.network/bounty/?platform__in=doastack

[2019-11-05 01:12] edsonayllon commented on #300
Nevermind, it does work searching by issuer.
https://rinkeby.api.bounties.network/bounty/?platform__in=doastack&platform=&issuer=0xbbaac64b4e4499aa40db238faa8ac00bac50811b

I'll close this issue. However,  I would look into why the Rinkeby API is querying a `newrinkeby.api`, as that subdomain doesn't exist.

[2019-11-05 01:12] #300 closed

[2020-02-27 14:25] aparcekarl opened #322 "Responsible Disclosure: Bug Bounty Inquiry"
Hi there,

I’m a Security Researcher and I found some Vulnerabilities in your websites. Where Can I Report Security issues?

Do you have a Running Bug bounty program?

Thank you